<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<!-- ================== resultMap ================== -->
	<!-- =============================================== -->
	<resultMap type="hos" id="hosResultSet">
		<result column="HOS_NO" property="hosNo"/>
		<result column="HOS_DATE" property="hosDate"/>
		<result column="HOS_VACCINATION" property="hosVaccination"/>
		<result column="HOS_ILLNESS" property="hosIllness"/>
		<result column="HOS_MEDICINE" property="hosMedicine"/>
		<result column="HOS_CONTENT" property="hosContent"/>
		<result column="PET_NO" property="petNo"/>
	</resultMap>
	
	<select id="selectHosListCount" resultType="_int" parameterType="hos">
		 SELECT 
				COUNT(*) 
		   FROM 
		  		TB_HOS_RECORDS 
		   JOIN 
		  		TB_PET USING (PET_NO) 
		  WHERE 
		 		USER_NO = #{userNo} 
	</select>
	
	
	<!-- ===================== SQL ===================== -->
	<!-- =============================================== -->
	
  
</mapper>