<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>게시판 관련 SQL문</comment>

<!-- 삭제되지 않은 총 게시글 수 보여주는 SQL -->
<entry key="selectListCount">
		SELECT
		      			COUNT(*)
		  FROM
		       			TB_BOARD
		 WHERE
		       			BOARD_STATUS = 'Y'
		
</entry>

<!-- 
최신글 순으로 정리된 게시글 수를 
시작페이지와 끝페이지의 페이징바를 통해 번호(개수)로 나타내고
한편, 조회된 리스트들을 보여주는 SQL
-->
<entry key="selectList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, A.*
		          FROM (SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       BOARD_VIEWS,
		                       BOARD_CREATE_DATE,
		                       USER_NO,
		                       FILE_NO,
		                       CTG_NO,
		                       PET_CTG_NO
		                  FROM
		                       TB_BOARD
		                  JOIN
		                        TB_USER
		                        		USING(USER_NO) 
		                  JOIN
		                        TB_FILE
		                        		USING(FILE_NO) 
		                  JOIN
		                        TB_CATEGORY
		                        		USING(CTG_NO) 
		                  JOIN 
		                  		TB_PET_CATEGORY
		                  				USING(PET_CTG_NO)
		                 WHERE
		                       BOARD_STATUS = 'Y'
		                 ORDER
		                    BY BOARD_CREATE_DATE DESC) A)
		         WHERE RNUM BETWEEN ? AND ?
		         		
</entry>

<!--  -->
<entry key="selectBoard">
						SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       BOARD_VIEWS,
		                       BOARD_CREATE_DATE,
		                       USER_NO,
		                       FILE_NO,
		                       CTG_NO,
		                       PET_CTG_NO
		                  FROM
		                       TB_BOARD
		                  JOIN
		                        TB_USER
		                        		USING(USER_NO) 
		                  JOIN
		                        TB_FILE
		                        		USING(FILE_NO) 
		                  JOIN
		                        TB_CATEGORY
		                        		USING(CTG_NO) 
		                  JOIN 
		                  		TB_PET_CATEGORY
		                  				USING(PET_CTG_NO)
		                 WHERE
		                       BOARD_STATUS = 'Y'
		                 ORDER
		                    BY BOARD_CREATE_DATE DESC
		         		
</entry>

<entry key="increaseViewsCount">
		UPDATE 
						TB_BOARD
		SET 
						BOARD_VIEWS = BOARD_VIEWS + 1
		WHERE 	
						BOARD_NO = ?

</entry>

<entry key="selectBoard">
		SELECT 
					(
					BOARD_TITLE,
					BOARD_CONTENT,
					BOARD_VIEWS,
					BOARD_CREATE_DATE,
					USER_NO,
					FILE_NO,
					CTG_NO,
					PET_CTG_NO
					)
		FROM
					TB_BOARD
		WHERE 
					BOARD_NO = ?

</entry>



</properties>