<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>마이페이지 관련 SQL문</comment>
	
	<entry key="selectPetList">
		  SELECT *
			FROM
			(SELECT ROWNUM RNUM, A.*
			FROM
			(SELECT *
			FROM
			(SELECT
			    ROWNUM IND,
			    PET_NO,
			    PET_NAME,
			    PET_SPECIES,
			    FILE_MYPAGE_NO
			FROM
			    TB_PET
			WHERE
			    USER_NO = ?
			ORDER BY PET_NO)
			ORDER BY IND DESC) A)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertPet">
		 INSERT 
		   INTO 
		   		TB_PET
		   		(
		   		PET_NO, 
				PET_NAME, 
				PET_SPECIES, 
				PET_SPECIFIC, 
				PET_WEIGHT, 
				PET_GENDER, 
				PET_PERSONALITY, 
				PET_ETC, 
				USER_NO,
				FILE_MYPAGE_NO
		   		)
		 VALUES 
	 			(
	 			SEQ_PET_NO.NEXTVAL,
	 			?,
	 			?,
	 			?,
	 			?,
	 			?,
	 			?,
	 			?,
	 			?,
	 			SEQ_MYPAGE_FILE_NO.CURRVAL
	 			)
	</entry>
	
	<entry key="insertPetImg">
		 INSERT 
		   INTO 
		   		TB_MYPAGE_FILE
		   		(
		   		FILE_MYPAGE_NO,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				FILE_PATH
		   		)
		VALUES 
				(
				SEQ_MYPAGE_FILE_NO.NEXTVAL,
				?, 
				?,
				?
				)
	</entry>
	
	<entry key="selectPetListCount">
		 SELECT 
				COUNT(*)
		   FROM 
				TB_PET 
		  WHERE 
				USER_NO = ? 
	</entry>
	
	<entry key="selectPetProfil">
		 SELECT 
		 		PET_NO,
				PET_NAME,
				PET_SPECIES,
				PET_SPECIFIC,
				PET_WEIGHT,
				PET_GENDER,
				PET_PERSONALITY,
				PET_ETC 
		   FROM 
		   		TB_PET 
		  WHERE 
		  		PET_NO=?
	</entry>
	
	<entry key="selectPetFile">
		  SELECT 
				FILE_MYPAGE_NO,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				FILE_PATH 
		   FROM 
		   		TB_MYPAGE_FILE 
		   JOIN 
		   		TB_PET USING(FILE_MYPAGE_NO) 
		  WHERE 
		  		PET_NO=?
		   		
	</entry>
	
	<entry key="updatePetImg">
		 UPDATE 
				TB_MYPAGE_FILE 
			SET 
				ORIGINAL_NAME=?,
				UPLOAD_NAME=?,
				FILE_PATH=? 
		  WHERE 
		  		FILE_MYPAGE_NO=?
	</entry>
	
	<entry key="updatePet">
		 UPDATE
		 		TB_PET
		 	SET 
				PET_NAME=?,
				PET_SPECIES=?,
				PET_SPECIFIC=?,
				PET_WEIGHT=?,
				PET_GENDER=?,
				PET_PERSONALITY=?,
				PET_ETC=? 
		  WHERE 
		  		PET_NO=? 
	</entry>
	
	<entry key="petDelete">
		 DELETE 
		   FROM 
		   		TB_PET 
    	  WHERE 
    	  		PET_NO=? 
	</entry>
	
	<!-- 
	<entry key="petImgDelete">
		 DELETE 
		   FROM 
		   		TB_MYPAGE_FILE 
    	  WHERE 
    	  		FILE_MYPAGE_NO=? 
	</entry> -->
	
	<entry key="insertSuggestion">
		 INSERT 
		   INTO 
		   		TB_SUGGESTION
		    	(
		    	SUG_NO,
		    	SUG_TITLE,
				SUG_CONTENT,
				SUG_DATE,
				USER_NO
		    	)
		 VALUES 
				(
				SEQ_SUG_NO.NEXTVAL,
				?,
				?,
				SYSDATE,
				?
				)
	</entry>
	
	<entry key="insertSuggestionFile">
		 INSERT 
		   INTO 
		   		TB_MYPAGE_FILE
		   		(
		   		FILE_MYPAGE_NO,
		   		SUG_NO,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				FILE_PATH
		   		)
		VALUES 
				(
				SEQ_MYPAGE_FILE_NO.NEXTVAL,
				SEQ_SUG_NO.CURRVAL,
				?, 
				?,
				?
				)
	</entry>
	
	<entry key="insertUserProfil">
		 INSERT 
		   INTO 
		   		TB_MYPAGE_FILE
		   		(
		   		FILE_MYPAGE_NO,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				FILE_PATH
		   		)
		VALUES 
				(
				SEQ_MYPAGE_FILE_NO.NEXTVAL,
				?, 
				?,
				?
				)
	</entry>
	
	<entry key="updateUserProfil">
		 UPDATE
		 		TB_USER
		    SET 
		    	FILE_MYPAGE_NO = SEQ_MYPAGE_FILE_NO.CURRVAL
		  WHERE 
		  		USER_NO=?
	</entry>
	
	<entry key="selectHosListCount">
		 SELECT 
				COUNT(*) 
		   FROM 
		  		TB_HOS_RECORDS 
		   JOIN 
		  		TB_PET USING (PET_NO) 
		  WHERE 
		 		USER_NO = ? 
		 		
	</entry>
	
	<entry key="selectHosList">
		 SELECT *
  		   FROM (SELECT ROWNUM RNUM, A.* 
  		   		   FROM (SELECT *
          		  		   FROM (SELECT 
		          		  				ROWNUM IND,
								 		HOS_NO,
										HOS_DATE,
										PET_NAME
								   FROM 
								   		TB_HOS_RECORDS 
								   JOIN 
								   		TB_PET USING (PET_NO) 
								  WHERE 
								  		USER_NO = ? 
								  ORDER BY HOS_DATE)
						  ORDER BY IND DESC) A)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>