<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>마이페이지 관련 SQL문</comment>
	
	<entry key="selectPetList">
		 SELECT 
		 		PET_NO,
				PET_NAME,
				PET_SPECIES 
		   FROM 
		   		TB_PET 
		  WHERE 
		  		USER_NO = ? 
		  ORDER BY 
		  		PET_NO DESC
	</entry>
	
	
	
	
</properties>