<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<!-- ================== resultMap ================== -->
	<!-- =============================================== -->
	<resultMap type="hos" id="hosResultSet">
		<result column="HOS_NO" property="hosNo"/>
		<result column="HOS_DATE" property="hosDate"/>
		<result column="HOS_VACCINATION" property="hosVaccination"/>
		<result column="HOS_ILLNESS" property="hosIllness"/>
		<result column="HOS_MEDICINE" property="hosMedicine"/>
		<result column="HOS_CONTENT" property="hosContent"/>
		<result column="PET_NO" property="petNo"/>
	</resultMap>
	
	<resultMap type="pet" id="petResultSet">
		<result column="PET_NO" property="petNo"/>
		<result column="PET_NAME" property="petName"/>
		<result column="PET_SPECIES" property="petSpecies"/>
		<result column="PET_SPECIFIC" property="petSpecific"/>
		<result column="PET_WEIGHT" property="petWeight"/>
		<result column="PET_GENDER" property="petGender"/>
		<result column="PET_PERSONALITY" property="petPersonality"/>
		<result column="PET_ETC" property="petEtc"/>
		<result column="USER_NO" property="userNo"/>
		<result column="FILE_MYPAGE_NO" property="fileNo"/>
		
	</resultMap>
	
	<!-- ===================== SQL ===================== -->
	<!-- =============================================== -->
	<select id="selectHosListCount" parameterType="_int" resultType="_int">
		 SELECT 
				COUNT(*) 
		   FROM 
		  		TB_HOS_RECORDS 
		   JOIN 
		  		TB_PET USING (PET_NO) 
		  WHERE 
		 		USER_NO = #{userNo}
	</select>
	
	<select id="selectHosList" parameterType="_int" resultMap="hosResultSet">
		 SELECT * 
           FROM (SELECT ROWNUM IND,
					    HOS_NO,
					    TO_CHAR(HOS_DATE,'YYYY-MM-DD') "HOS_DATE",
						PET_NAME petName
				   FROM TB_HOS_RECORDS 
				   JOIN TB_PET USING (PET_NO) 
				  WHERE USER_NO = #{userNo} 
				  ORDER BY HOS_NO DESC) 
		  ORDER BY IND DESC
	</select>
	<select id="selectDayList">
		SELECT * 
		  FROM (SELECT * 
	              FROM (SELECT ROWNUM IND,
						       HOS_NO,
						       TO_CHAR(HOS_DATE,'YYYY-MM-DD') "HOS_DATE",
							   PET_NAME
					      FROM TB_HOS_RECORDS 
					      JOIN TB_PET USING (PET_NO) 
					     WHERE USER_NO = #{userNo} 
					     ORDER BY HOS_NO DESC) 
			     ORDER BY IND DESC)
		 WHERE HOS_DATE BETWEEN TO_DATE (#{startDate}) AND TO_DATE (#{endDate})+1
	</select>
  
  	<select id="selectPetList" parameterType="_int" resultMap="petResultSet">
  		SELECT ROWNUM IND,
			   PET_NO,
			   PET_NAME,
			   PET_SPECIES,
			   FILE_MYPAGE_NO
		  FROM TB_PET
		 WHERE USER_NO = #{userNo}
		 ORDER BY PET_NO
  	</select>
  	
  	<insert id="insertHos" parameterType="pet">
  		INSERT INTO TB_HOS_RECORDS(HOS_NO,HOS_DATE,HOS_VACCINATION,HOS_ILLNESS,HOS_MEDICINE,HOS_CONTENT,PET_NO) 
		VALUES (SEQ_HOS_NO.NEXTVAL, #{hosDate}, #{hosVaccination}, #{hosIllness}, #{hosMedicine}, #{hosContent}, #{petNo})
  	</insert>
  	
</mapper>