<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="petopia.com.kh.jsp.user.model.vo.User" alias="user"/>
		<typeAlias type="petopia.com.kh.jsp.mypage.model.vo.HosRecords" alias="hos"/>
		<typeAlias type="petopia.com.kh.jsp.mypage.model.vo.Pet" alias="Pet"/>
		<typeAlias type="petopia.com.kh.jsp.mypage.model.vo.PetFile" alias="PetFile"/>
		<typeAlias type="petopia.com.kh.jsp.mypage.model.vo.Suggestion" alias="Sug"/>
		<typeAlias type="petopia.com.kh.jsp.mypage.model.vo.WalkRecords" alias="WalkR"/>
		<typeAlias type="petopia.com.kh.jsp.info.model.vo.Info" alias="info"/>
		<typeAlias type="petopia.com.kh.jsp.info.model.vo.InfoCategory" alias="infoCtg"/>
		<typeAlias type="petopia.com.kh.jsp.info.model.vo.InfoComment" alias="infoComment"/>
		<typeAlias type="petopia.com.kh.jsp.info.model.vo.InfoFile" alias="infoFile"/>
		<typeAlias type="petopia.com.kh.jsp.info.model.vo.Star" alias="star"/>
		
		<typeAlias type="petopia.com.kh.jsp.board.model.vo.Board" alias="board"/>
		<typeAlias type="petopia.com.kh.jsp.board.model.vo.Category" alias="category"/>
		<typeAlias type="petopia.com.kh.jsp.common.model.vo.File" alias="file"/>
		<typeAlias type="petopia.com.kh.jsp.common.model.vo.PageInfo" alias="pageInfo"/>
		
		
		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">

			<transactionManager type="JDBC"/>

			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		        <property name="url" value="jdbc:oracle:thin:@192.168.30.21:1521:xe"/>
		        <property name="username" value="PETOPIA"/>
		        <property name="password" value="PETOPIA"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mapper/user/user-mapper.xml"/>
		<mapper resource="/mapper/mypage/mypage-mapper.xml"/>
		<mapper resource="/mapper/board-mapper.xml" />
		<!-- <mapper resource="/mapper/info-mapper.xml"/> -->
	</mappers>
</configuration>
 