<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>정보제공 관련 SQL문</comment>

	<!-- 게시글 작성 폼에서 카테고리 리스트를 보여줄 SQL -->
	<entry key="selectInfoCategory">
		SELECT
			   CTG_NO,
			   CTG_NAME
		  FROM 
		  	   TB_CATEGORY
		 WHERE 
		 	   CTG_NO BETWEEN 12 AND 14
		 ORDER 
		 	BY 
		 	   CTG_NO ASC
	</entry>
	
	<!-- 게시글을 INSERT하는 SQL -->
	<entry key="insertShareInfo">
		INSERT
		  INTO
		  	   TB_BOARD
		  	   (
		  	   BOARD_NO,
		  	   BOARD_TITLE,
		  	   BOARD_CONTENT,
		  	   BOARD_CREATE_DATE,
		  	   USER_NO,
		  	   CTG_NO
		  	   )
		VALUES 
			   (
			   SEQ_BOARD_NO.NEXTVAL,
			   ?,
			   ?,
			   SYSDATE,
			   ?,
			   ?
			   )
	</entry>
	
	<!-- 별점을 INSERT하는 SQL -->
	<entry key="insertStar">
		INSERT
		  INTO
		  	   TB_STAR
		  	   (
		  	   BOARD_NO,
		  	   STAR_SCORE
		  	   )
		VALUES 
			   (
			   SEQ_BOARD_NO.CURRVAL,
			   ?
			   )
	</entry>
	
	<!-- 첨부파일 리스트를 INSERT하는 SQL -->
	<entry key="insertFileList">
		INSERT
		  INTO
		  	   TB_FILE
		  	   	(
		  	   	FILE_NO,
		  	   	REF_BNO,
		  	   	ORIGINAL_NAME,
		  	   	UPLOAD_NAME,
		  	   	FILE_PATH,
		  	   	FILE_LEVEL
		  	   	)
		 VALUES 
		 	    (
		 	    SEQ_FILE_NO.NEXTVAL,
		 	    SEQ_BOARD_NO.CURRVAL,
		 	    ?,
		 	    ?,
		 	    ?,
		 	    ?
		 	    )
	</entry>
	
	<!-- 게시글 수를 구하는 SQL -->
	<entry key="selectListCount">
		SELECT
			   COUNT(BOARD_NO) "BOARD_COUNT"
		  FROM 
		  	   TB_BOARD
		 WHERE 
		 	   CTG_NO = ?
		   AND 
		   	   BOARD_STATUS = 'Y'
	</entry>
	
	<!-- 카테고리별 게시글 리스트를 구하는 SQL -->
	<entry key="selectList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, A.*
		  		  FROM (SELECT
		  		  			   BOARD_TITLE,
		  		  			   SUBSTR(BOARD_CONTENT, 1, 30) SUB_CONTENT,
		  		  			   FILE_PATH||'/'||UPLOAD_NAME TITLE_IMG
		  		  	      FROM 
		  		  	      	   TB_BOARD
		  		  	      JOIN
		  		  	      	   TB_FILE ON(BOARD_NO = REF_BNO)
		  		  	     WHERE 
		  		  	     	   FILE_LEVEL = 1
		  		  	       AND
		  		  	       	   CTG_NO = ?
		  		  	       AND
		  		  	     	   BOARD_STATUS = 'Y'
		  		  	     ORDER
		  		  	     	BY 
		  		  	     	   BOARD_NO DESC) A)
				 WHERE RNUM BETWEEN ? AND ?		  		
	</entry>
	

</properties>