<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertThumbnailBoard">
		INSERT
		  INTO
		      TB_MATCHING
		      (
		      MEET_BOARD_NO,
		      MEET_BOARD_TITLE,
		      PET_INFO,
		      HOPE_ACTIVITY,
		      USER_NO,
		      PET_NO
		      )
		 VALUES
		 	  (
		 	  SEQ_MEET_BOARD_NO.NEXTVAL,
		 	  ?,
		 	  ?,
		 	  ?,
		 	  ?,
		 	  ?
		 	  )
		 	  
	</entry>
	
	<entry key="insertFile">
      INSERT
			  INTO
				TB_FILE(FILE_NO,
				 REF_BNO, 
				 ORIGINAL_NAME, 
				 UPLOAD_NAME, 
				 FILE_PATH, 
				 FILE_LEVEL)
		    VALUES      
				  (
				  SEQ_FILE_NO.NEXTVAL,
				  SEQ_MEET_BOARD_NO.CURRVAL, 
				  ?,
				  ?,
				  ?,
				  ?
				  )
		      
	</entry>
	
	<entry key="selectPetInfo">
		SELECT
			  PET_NO,
			  PET_NAME,
			  PET_SPECIES,
			  PET_GENDER,
			  TB_PET.USER_NO
	  	  FROM
	  	      TB_PET
	INNER JOIN 
			  TB_USER ON TB_PET.USER_NO = TB_USER.USER_NO
	  	 	  
	</entry>
	
	<entry key="selectMainList">
		SELECT
			  MEET_BOARD_NO,
			  MEET_BOARD_TITLE,
			  PET_INFO,
			  HOPE_ACTIVITY,
			  MEET_BOARD_CREATE_DATE,
			  USER_NICKNAME,
			  PET_NAME,
			  MEET_BOARD_VIEWS,
			  FILE_PATH||'/'||UPLOAD_NAME "FILE_PATH",
			  PET_NO
		  FROM
		  	  TB_MATCHING
		  JOIN
		  	  TB_FILE ON(MEET_BOARD_NO = REF_BNO)
          JOIN
              TB_USER USING(USER_NO)
		  JOIN
		      TB_PET USING(PET_NO)
	     WHERE
	     	  STATUS = 'Y'
	       AND
	          FILE_LEVEL = 1
	       AND
	       	  FILE_PATH = 'resources/thumbnail_upfiles'
	     ORDER
	        BY 
	     	  MEET_BOARD_NO DESC  
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
			  TB_MATCHING 
		   SET
		      MEET_BOARD_VIEWS =  MEET_BOARD_VIEWS + 1 
		 WHERE
		 	  STATUS = 'Y'
		   AND
		      MEET_BOARD_NO = ?
	
	</entry>

</properties>