<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>유저 관련 SQL문</comment>
<entry key="loginUser">
SELECT
	USER_NO,
	USER_EMAIL,
	USER_PASS,
	USER_NICKNAME,
	USER_PHONE,
	ROLE_NAME,
	USER_CREATE_DATE,
	USER_UPDATE_DATE,
	USER_ENABLE_STATE
FROM
	TB_USER
JOIN TB_ROLE USING(ROLE_ID)
WHERE
	USER_EMAIL = ?
AND
	USER_PASS = ?
AND
	USER_ENABLE_STATE = 'Y'
</entry>
<entry key="insertUser">
INSERT INTO
TB_USER(
	USER_NO,
	USER_EMAIL,
	USER_PASS,
	USER_NICKNAME,
	USER_PHONE
)
VALUES(
	SEQ_USER_NO.NEXTVAL,
	?,
	?,
	?,
	?
)
</entry>
<entry key="checkUserEmail">
SELECT
	USER_NO
FROM
	TB_USER
WHERE
	USER_EMAIL = ?
</entry>
<entry key="checkUserNickname">
SELECT
	USER_NO
FROM
	TB_USER
WHERE
	USER_NICKNAME = ?
</entry>
<entry key="updateUserInfo">
UPDATE
	TB_USER
SET
	USER_NICKNAME = ?,
	USER_PHONE = ?,
	USER_UPDATE_DATE = SYSDATE
WHERE
	USER_NO = ?
</entry>
<entry key="updateUserPass">
UPDATE
	TB_USER
SET
	USER_PASS = ?,
	USER_UPDATE_DATE = SYSDATE
WHERE
	USER_NO = ?
</entry>
</properties>