<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">



<resultMap type="" id="" >




</resultMap>









	<select id="selectBoardCount" parameterType="" resultMap="">
		SELECT
						COUNT(*)
		FROM
						TB_BOARD
		WHERE
						BOARD_STATUS = 'Y'
			
	</select>
	
	
	<select id="selectSwiperBestBoardList" parameterType="" resultMap="">
		SELECT
						BOARD_NO,
						BOARD_TITLE,
						USER_NO,
						BOARD_VIEWS,
						BOARD_CREATE_DATE,
						FILE_IMG
		FROM
						BOARD
		JOIN
						MEMBER USING(USER_NO)
		WHERE
						BOARD_STATUS = 'Y'
		ORDER
		BY	
						BOARD_CREATE_DATE DESC
						
	
	</select>
	
	
	<select id="selectBoardList" parameterType="" resultMap="">
		SELECT
						BOARD_NO,
						BOARD_TITLE,
						USER_NO,
						BOARD_VIEWS,
						BOARD_CREATE_DATE,
						FILE_IMG
		FROM
						BOARD
	</select>
	
	
	<update id="increaseViewCount">
	
	
	</update>
	
	
	<select id="selectBoard" parameterType="" resultMap="">
		SELECT
						BOARD_NO,
						BOARD_TITLE,
						USER_NO,
						BOARD_VIEWS,
						BOARD_CREATE_DATE,
						FILE_IMG
		FROM
						BOARD
	</select>
	
	
	<select id="selectFileList" parameterType="" resultMap="">
	
	</select>
	
	
	<select id="selectCategory" parameterType="" resultMap="">
	
	</select>


	<insert id="insertBoard">
	
	
	</insert>
	
	
</mapper>